@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Titan+One&display=swap");

.container-top {
  background: #ffb8ca;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 17px;
}

.nav {
  display: flex;
  width: 541px;
  margin: auto;
}

.icons-header {
  width: 199px;
  height: 50px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.menu-item:hover,
.menu-item:focus {
  color: #d41443;
}

.menu-item {
  display: flex;
  margin-right: 20px;
  flex-direction: row;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.buttonheader1 {
  background: #ffffff;
  border: none;
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: #d41443;
  width: 159px;
  height: 44px;
}

.buttonheader1:hover,
.buttonheader1:focus {
  background: #ecebeb;
  border-radius: 22px;
}

.container-header-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 17px;
}

.container-header-contentleft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttoncontentleft {
  display: flex;
}
.buttonheader2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: #d41443;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  height: 40px;
  width: 107px;
  height: 40px;
  margin-right: 12px;
}

.buttonheader2:hover,
.buttonheader2:focus {
}

.buttonheader3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
  width: 138px;
  height: 40px;
  border: none;
  background: #ffffff;
  border-radius: 20px;
}

.buttonheader3:hover,
.buttonheader3:focus {
}

.headerleftdown {
  display: flex;
  margin-top: 40px;
}

.containerdownpleft{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    margin-bottom: 5%;
 
}

.headerleftdownp {
  width: 200px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  margin: 0px;
}

.imageheaderleft {
  width: 213px;
  height: 216px;
}

.container-header-contentrigth {
  display: flex;
}

.container-header-contentleft h3 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 0%;
  color: #ffffff;
}

.container-header-contentleft h2 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 0%;
  color: #d41443;
}

/*
.us:hover,
.us:focus {
  color: #d41443;
}
.us {
  text-decoration: none;
  position: absolute;
  width: 70px;
  height: 21px;
  left: 424px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.made:hover,
.made:focus {
  color: #d41443;
}
.made {
  text-decoration: none;
  position: absolute;
  width: 117px;
  height: 21px;
  left: 529px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.products:hover,
.products:focus {
  color: #d41443;
}
.products {
  text-decoration: none;
  position: absolute;
  width: 104px;
  height: 21px;
  left: 681px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.contact:hover,
.contact:focus {
  color: #d41443;
}
.contact {
  text-decoration: none;
  position: absolute;
  width: 64px;
  height: 21px;
  left: 820px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.buy {
  color: #d41443;
  border-radius: 22px;
  background: #ffffff;
  border: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
}
.producto {
  color: #ffffff;
  border-radius: 20px;
  background: #d41443;
  border: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
}
.how {
  color: #d41443;
  border-radius: 20px;
  background: #ffffff;
  border: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
.container-top {
  height: 664px;
  margin-left: auto;
  margin-right: auto;
  background: #ffb8ca;
  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}
.home:hover,
.home:focus {
  color: #d41443;
}
.home {
  text-decoration: none;
  position: absolute;
  width: 46px;
  height: 21px;
  left: 343px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.us:hover,
.us:focus {
  color: #d41443;
}
.us {
  text-decoration: none;
  position: absolute;
  width: 70px;
  height: 21px;
  left: 424px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.made:hover,
.made:focus {
  color: #d41443;
}
.made {
  text-decoration: none;
  position: absolute;
  width: 117px;
  height: 21px;
  left: 529px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.products:hover,
.products:focus {
  color: #d41443;
}
.products {
  text-decoration: none;
  position: absolute;
  width: 104px;
  height: 21px;
  left: 681px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.contact:hover,
.contact:focus {
  color: #d41443;
}
.contact {
  text-decoration: none;
  position: absolute;
  width: 64px;
  height: 21px;
  left: 820px;
  top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.buy {
  color: #d41443;
  border-radius: 22px;
  background: #ffffff;
  border: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
}
.producto {
  color: #ffffff;
  border-radius: 20px;
  background: #d41443;
  border: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
}
.how {
  color: #d41443;
  border-radius: 20px;
  background: #ffffff;
  border: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
} */

/* ESTILOS PRODUCTOS */
.productscontainer {
  display: flex;
  flex-direction: column;
}

.sloganproducts {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.tittleproducts {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

.slide-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-product-container {
  width: 368px;
  display: flex;
  height: 796px;
  margin-top: 70px;
}

.productdescription {
  display: flex;
  width: 245px;
  height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.productdescription h3 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.productdescription p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 32px;
  color: #ffffff;
}

.arrowright {
  width: 26px;
  height: 26px;
  margin-top: 20px;
}

.icecream-card {
  display: flex;
  margin: auto;
  width: 368px;
  height: 535px;
  background: #ffb8ca;
  border-radius: 24px;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icecoffee-card {
  display: flex;
  margin: auto;
  width: 368px;
  height: 535px;
  background: #f0d1a5;
  border-radius: 24px;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.milkshakes-card {
  display: flex;
  margin: auto;
  width: 368px;
  height: 535px;
  background: #c2e297;
  border-radius: 24px;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product_image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -250px;
}

/* SECCION how it’s made? */

.howitsmadecontainer {
  display: flex;
  flex-direction: column;
  background-color: #fff5f6;
}

.sloganhowitsmade {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffa5ba;
}

.tittlehowitsmade {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #d41443;
}

.howitsmadescription {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: space-around;
  background-image: url(../images/bghowismade.png);
}

.howitsmadescription img {
}

.himcontainerdescription {
  width: 463px;
}

.texthowismade {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 176%;

  /* or 28px */
  letter-spacing: 0.04em;

  color: #000000;
}

.texthowismade2p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 194%;

  /* or 27px */
  letter-spacing: 0.04em;

  color: #907e82;
}

.iconbuttons {
  width: 4.43px;
  height: 8px;
  fill: #d41443;
  margin-left: 10px;
}

.statshim {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.statshim-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 317px;
}

.statshim-item h3 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin: 40px 0px 16px 0px;
}

.statshim-item p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;

  /* or 28px */
  letter-spacing: 0.02em;

  color: #000000;
}

.icons-him {
  width: 50px;
  height: 50px;
  fill: #ffa5ba;
}
/*area cristofer*/
.cardsdirections {
width: 1200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
background-color: #FFF5F6;
margin-left: auto;
margin-right: auto;
}
.containercards {
  width: 368px;
  height: 538px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.button-direction-1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  margin: 40px 0px 32px 40px;
  padding: 5px 5px 5px 5px;
  width: 60px;
  background: #F0D1A5;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.button-direction-2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  margin: 40px 0px 32px 40px;
  padding: 5px 5px 5px 5px;
  width: 120px;
  background: #C2E297;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.button-direction-3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  margin: 40px 0px 32px 40px;
  padding: 5px 5px 5px 5px;
  width: 60px;
  background: #F0D1A5;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.direction-tittle {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;

}
